.Dropdown-container {
  color: "lime" !important;
} 

.Dropdown-item-container.inactive {
  opacity: 0.9;
}

.Dropdown-item-container:hover {
  transition: all .25s;
  cursor: pointer;
  opacity: 1;
}

.Dropdown-item-container:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 4px;
}