.Tabs-container {
  font-family: Arial, Helvetica, sans-serif;
}

.tabs-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.tabs-header .tab {
  margin: 0 1rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 17px;
  opacity: 0.5;
  transition: all 0.25s;
  padding: 0 0 .5rem 0;
  border-bottom: 2px solid transparent;
}

.tabs-header .tab:first-child {
  margin-left: 0px;
}

.tabs-header .tab:hover {
  cursor: pointer;
  opacity: 0.75;
}

.tabs-header .tab.active {
  opacity: 1;
  border-bottom: 2px solid white;
  text-decoration: underline;
}