.Accordion-container {
  transition: all .25s;
  font-family: Arial, Helvetica, sans-serif;
}

.Accordion-container .Accordion-heading {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: bold;
  font-size: 21px;
  user-select: none;
}

.Accordion-container .Accordion-heading .icon {
  line-height: 1rem;
  margin-right: .25rem;
  transition: all .25s;
  font-size: 1rem;
}

.Accordion-container .Accordion-heading .icon.open {
  transform: rotate(90deg);
}


.Accordion-container .Accordion-heading:hover {
  cursor: pointer;
}

.Accordion-container .Accordion-content {
  margin: 1rem 0 0 0;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all .25s;
}

.Accordion-container .Accordion-content.open {
  overflow: visible;
  opacity: 1;
  height: 100%;
}